{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="domain_info">
    {{ form.hidden_tag() }}
      <table>
        <td>Domain Info:</td>
          <tr>
              <td>{{ form.domain_name(size=30, maxlength=255) }}</td>
              <td>
              {% for error in form.domain_name.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
    </table>
    <td></td>
    <td><input type="submit" value="Info"></td>
    <td></td>
</form>
{% endblock %}
