{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="registrant">
    {{ form.hidden_tag() }}
      <table>
        <td>Check Contact:</td>
          <tr>
              <td>{{ form.registrant(size=30, maxlength=140) }}</td>
              <td>
              {% for error in form.registrant.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
    </table>
    <td></td>
    <td><input type="submit" value="Check"></td>
    <td></td>
</form>
<form action="" method="post" name="registrantinfo">
    {{ form3.hidden_tag() }}
      <table>
        <td>Contact Info:</td>
          <tr>
              <td>{{ form3.registrantinfo(size=30, maxlength=140) }}</td>
              <td>
              {% for error in form3.registrantinfo.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
    </table>
    <td></td>
    <td><input type="submit" value="Info"></td>
    <td></td>
</form>
<form action="" method="post" name="domain">
    {{ form1.hidden_tag() }}
      <table>
        <td>Check Domain(*.epp.ua,*.epp2.ua):</td>
          <tr>
              <td>{{ form1.domain(size=30, maxlength=255) }}</td>
              <td>
              {% for error in form1.domain.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
    </table>
    <td></td>
    <td><input type="submit" value="Check"></td>
    <td></td>
</form>
<form action="" method="post" name="domaininfo">
    {{ form4.hidden_tag() }}
      <table>
        <td>Domain Info:</td>
          <tr>
              <td>{{ form4.domaininfo(size=30, maxlength=140) }}</td>
              <td>
              {% for error in form4.domaininfo.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
    </table>
    <td></td>
    <td><input type="submit" value="Info"></td>
    <td></td>
</form>
<form action="" method="post" name="newdomain">
    {{ form2.hidden_tag() }}
      <table>
        <td>Create Domain(*.epp.ua,*.epp2.ua):</td>
          <tr>
              <td><span style="width: 100">domain:</span>
                {{ form2.newdomain(size=30, maxlength=255) }}</td>
              <td>
              {% for error in form2.newdomain.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
          <tr>
              <td><span style="width: 100">contact:</span>
                {{ form2.contact(size=30, maxlength=16) }}</td>
              <td>
              {% for error in form2.contact.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
          <tr>
              <td><span style="width: 100">nserver1:</span>
                {{ form2.hostobj1(size=30, maxlength=255) }}</td>
              <td>
              {% for error in form2.hostobj1.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
          <tr>
              <td><span style="width: 100">nserver2:</span>
                {{ form2.hostobj2(size=30, maxlength=255) }}</td></tr>
              <td>
              {% for error in form2.hostobj2.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
    </table>
    <td></td>
    <td><input type="submit" value="Create"></td>
    <td></td>
</form>


<form action="" method="post" name="newdomain">
    {{ form5.hidden_tag() }}
      <table>
        <td>Renew Domain(*.epp.ua,*.epp2.ua):</td>
          <tr>
              <td><span style="width: 100">domain:</span>
                {{ form5.renewdomain(size=30, maxlength=255) }}</td>
              <td>
              {% for error in form5.renewdomain.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
          <tr>
              <td><span style="width: 100">exdate:</span>
                {{ form5.exdate(size=30, maxlength=16) }}</td>
              <td>
              {% for error in form5.exdate.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
          <tr>
              <td><span style="width: 100">years:</span>
                {{ form5.years(size=30, maxlength=255) }}</td>
              <td>
              {% for error in form5.years.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
    </table>
    <td></td>
    <td><input type="submit" value="Create"></td>
    <td></td>
</form>
{% endblock %}
