<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
  <h1>Sign In</h1>
  <form action="" method="post" name="login">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <div>
        {{ form.username(placeholder="username",size=20) }}
        <span class="error" style="color: red;">
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>

    <div>
        {{ form.password(placeholder="password",type="password",size=20) }}
        <span class="error" style="color: red;">
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>

    <p>{{ form.remember_me }} Remember Me </p>
    <input type="submit" value="Sign In">
  </form>
{% endblock %}
